.bg-box{
  height: 500px;
  width: 800px;
  background-color: green;
  background-repeat: no-repeat ,repeat-x, repeat-x, repeat-y,repeat-y;
  background-image: url(./img/pole-zelen-trava-dom-derevya.webp), url(./img/lamp-png-34914.png), url(./img/green-png-44873.png),url(./img/image.png),url(./img/58eb07b830eab15b56162788.png);
  background-position: center, top, bottom, left, right;
  background-size: 500px, 30px, 200px, 40px, 30px;
}
/*ppp*/
